*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-color:#111;
    display: flex;
    justify-content: center;
    align-items: center;

}

.progress_container{
max-width: 700px;
width:100%;
background-color:#111111;
padding:3rem;
border-radius: 20px;
box-shadow: 10px 10px 20px rgba(0,0,0,0.5),
inset 10px 10px 20px rgba(255,255,255,.2),
inset -10px -10px 20px rgba(0,0,0,0.7);
}

.progress_bar{
    width: 100%;
    margin-bottom: 30px;
}

.progress_bar:last-child{
    margin-bottom: 0;
}

.progress_bar label{
    margin-bottom: 10px;
    display: block;
    color:transparent;
    -webkit-text-stroke: .5px rgba(255,255,255);
    font-style: 22px;
    letter-spacing: 2px;
}

.progress_bar .progress{
    width: 100%;
    height:20px;
    background-color:#222;
    border-radius: 30px;
    position: relative;
}
.progress_bar .progress::before{
    
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255,.05);
    border-radius: 30px;
    box-shadow: inset -15px -15px 30px #00000088,
    inset 5px 5px 10px #000000;
    ;
    animation: preload 1s ease-in-out;
}

@keyframes preload {
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
}

.progress_bar .progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:var(--progress);
    background: linear-gradient(90deg, var(--clr1),var(--clr2));
    border-radius:30px;
    box-shadow: inset -15px -15px 30px #00000088,
    inset 5px 5px 10px #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: progress 2s ease;
}

@keyframes progress {
    0%{
        width: 0;
    }
    100%{
        width:var(--progress);
    }
}

.progress_bar .progress span::before{
content:attr(data-attr);
position: absolute;
top: 50%;
transform:translateY(-50%);
right: -15px;
width:44px;
height:44px;
border-radius: 50%;
background: linear-gradient(45deg, var(--clr1),var(--clr2));
box-shadow: 0 0 30px var(--clr1), 0 0 60px var(--clr2);
display: grid;
place-items: center;
color:#fff;
}
